@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
.loader {
  border: 16px solid #f6f6f6;
  border-top: 16px solid #9356dc;
  border-bottom: 16px solid #ff79da;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 3s linear infinite;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader__center {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #99e2d0;
  z-index: 10;
  animation: grow 1.2s infinite backwards;
}

.loader__container {
  background-color: #fff;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 5;
  opacity: 0.9;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: loader 3s forwards;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes grow {
  0% {
    width: 30px;
    height: 30px;
  }
  100% {
    width: 45px;
    height: 45px;
  }
}
@keyframes loader {
  0% {
    opacity: 0.9;
    z-index: 5;
  }
  90% {
    opacity: 0.9;
    z-index: 5;
  }
  100% {
    opacity: 0;
    z-index: -100;
  }
}
@keyframes menu {
  from {
    transform: translateY(-20px);
    opacity: 0;
  }
  50% {
    transform: translateY(-10px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
.step1 {
  animation: 1.5s menu;
}

.step2 {
  animation: 3s menu;
}

.step3 {
  animation: 4.5s menu;
}

.menu__box:hover {
  cursor: pointer;
}
.menu__box:hover .menu__box--price {
  transform: translateX(0);
  transition: 600ms;
}
.menu__box:hover .menu__box--anim {
  transform: translateX(0);
  opacity: 1;
  transition: 600ms;
  visibility: visible;
}
.menu__box:hover .menu__box--icon {
  transform: rotate(0);
  opacity: 1;
  transition: 600ms;
  visibility: visible;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
}

a,
a:visited {
  color: black;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  box-shadow: 0px 5px 6px 0px rgba(0, 0, 0, 0.2);
  position: relative;
  width: 100%;
  padding: 10px 0;
}
.header__title {
  font-family: "Shrikhand", cursive;
}

.main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 0 auto;
  padding: 0;
  flex-direction: column;
}

.location {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-direction: row;
  column-gap: 10px;
  background-color: #eaeaea;
  padding: 15px;
  font-size: 1rem;
}

form {
  background: #f6f6f6;
  width: 20%;
}
form input {
  border: none;
  background-color: #eaeaea;
}
form input::placeholder {
  color: black;
  text-align: center;
}
form input:focus {
  outline-color: #9356dc;
}

.explorer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  padding: 40px 0;
  background-color: #f6f6f6;
  width: 100%;
}
.explorer__txt {
  font-weight: 100;
  font-size: 1rem;
  line-height: 1.3rem;
  margin-bottom: 30px;
}

.process {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  padding: 40px 0;
}
.process__container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 90%;
  font-size: 0.85rem;
}
@media screen and (min-width: 850px) {
  .process__container {
    flex-direction: row;
    width: 100%;
  }
}
.process__title {
  align-self: flex-start;
  padding: 15px;
}
@media screen and (min-width: 850px) {
  .process__title {
    align-self: center;
  }
}
.process__box {
  width: 100%;
  background-color: #f6f6f6;
  display: flex;
  align-items: center;
  padding: 23px;
  margin: 15px 20px;
  border-radius: 20px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.16);
  position: relative;
}
@media screen and (min-width: 850px) {
  .process__box {
    padding: 23px 5px;
    max-width: 243px;
  }
}
.process__box:hover {
  background-color: #e4d5f6;
  cursor: pointer;
}
.process__box:hover i {
  color: #8641d8;
}
.process__number {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  color: #fff;
  background-color: #9356dc;
  position: absolute;
  left: -13px;
  padding: 5px;
  width: 25px;
  height: 25px;
  border-radius: 50%;
}
.process__icon {
  margin: 0 20px;
  color: #7e7e7e;
}

.restaurant {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  background-color: #f6f6f6;
  padding: 40px 0;
}
.restaurant__title {
  align-self: flex-start;
  padding: 15px;
}
@media screen and (min-width: 850px) {
  .restaurant__title {
    align-self: center;
  }
}
.restaurant__cards {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4, 1fr);
  justify-self: center;
  grid-gap: 20px;
}
@media screen and (min-width: 768px) {
  .restaurant__cards {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    max-width: 1200px;
    margin: 0 auto;
  }
}
.restaurant__card {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  background-color: #fff;
  max-width: 300px;
  margin: 0 auto;
  box-shadow: 5px 5px 15px 5px rgba(107, 107, 107, 0.3);
  transition: transform 300ms ease-in;
}
.restaurant__card:hover {
  box-shadow: 0px 0px 8px 4px rgba(255, 121, 218, 0.5);
  transform: translateY(-7px);
}
.restaurant__img {
  width: 100%;
  position: relative;
}
.restaurant__img img {
  width: 100%;
  height: 200px;
  border-radius: 10px 10px 0 0;
  object-fit: cover;
}
.restaurant__new {
  position: absolute;
  right: 10px;
  top: 15px;
  background-color: #99e2d0;
  color: #278870;
  padding: 5px;
}
.restaurant__box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-radius: 0 0 10px 10px;
}
.restaurant__box--title {
  font-size: 1.2rem;
  margin-bottom: 0.2rem;
}
.restaurant__box--text {
  font-size: medium;
  font-weight: 100;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
  color: #fff;
  padding: 20px 0;
  background-color: #363636;
}
.footer__title {
  font-family: "Shrikhand", cursive;
  align-self: flex-start;
  padding: 15px;
}
@media screen and (min-width: 850px) {
  .footer__title {
    align-self: center;
  }
}
.footer__links {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
}
@media screen and (min-width: 768px) {
  .footer__links {
    flex-direction: row;
    align-self: center;
  }
}
.footer__links li {
  padding: 5px 15px;
}
.footer__links a {
  color: #fff;
}
.footer__links a:hover {
  text-decoration: underline #fff;
}
.footer__links i {
  padding-right: 8px;
}

.picture {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .picture {
    width: 100%;
    height: 400px;
  }
}
.picture img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  z-index: 1;
}
@media screen and (min-width: 768px) {
  .picture img {
    width: 100%;
    height: 100%;
  }
}

.menu {
  background-color: #f6f6f6;
  width: 100%;
  border-radius: 40px 40px 0 0;
  z-index: 2;
  margin-top: -30px;
  padding: 40px 20px;
  max-width: 800px;
}
.menu__info {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.menu__info--title h2 {
  font-family: "Shrikhand", cursive;
  font-size: 1.7rem;
}
@media screen and (max-width: 550px) {
  .menu__info--title h2 {
    font-size: 1.5rem;
  }
}
@media screen and (max-width: 280px) {
  .menu__info--title h2 {
    font-size: 1.2rem;
  }
}
.menu__steps {
  width: 100%;
  padding: 20px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}
.menu__steps--title {
  text-transform: uppercase;
  padding: 5px 0;
  font-weight: 100;
}
.menu hr {
  background-color: #99e2d0;
  border: none;
  width: 40px;
  height: 3px;
  margin: -10px 0 10px 0;
}
@media screen and (max-width: 550px) {
  .menu .ellipse {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
.menu__box {
  width: 100%;
  background-color: #fff;
  border-radius: 10px;
  display: flex;
  overflow: hidden;
}
.menu__box h2 {
  font-size: 1.1rem;
  font-weight: 400;
  margin-bottom: 5px;
}
.menu__box p {
  font-weight: 100;
  font-size: 1rem;
}
.menu__box--info {
  width: 80%;
}
@media screen and (max-width: 550px) {
  .menu__box--info {
    width: 180px;
  }
}
@media screen and (max-width: 280px) {
  .menu__box--info {
    width: 150px;
  }
}
.menu__box--txt {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 10px;
}
.menu__box--price {
  text-align: left;
  align-self: flex-end;
  width: 10%;
  transform: translateX(200%);
}
.menu__box--price p {
  font-weight: 400;
}
.menu__box--anim {
  background-color: #99e2d0;
  padding: 10px;
  border-radius: 0 10px 10px 0;
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transform: translateX(100%);
  opacity: 0;
  visibility: hidden;
}
.menu__box--icon {
  font-size: 2rem;
  color: white;
  background-color: #99e2d0;
  transform: rotate(-270deg);
  visibility: hidden;
}

.order {
  background-color: #f6f6f6;
  display: flex;
  justify-content: center;
  padding: 0 0 30px 0;
}

.btn {
  width: 220px;
  height: 50px;
  border-radius: 30px;
  background-color: black;
  color: #fff;
  border: none;
  margin-bottom: 20px;
  font-size: 0.95rem;
  background: #ff79da;
  background: linear-gradient(172deg, #ff79da 0%, #9356dc 77%);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.16);
  cursor: pointer;
}
.btn:hover {
  opacity: 0.9;
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.48);
}

.fa-heart {
  font-size: 1.5rem;
  font-weight: 100;
}

.fa-heart:hover {
  font-weight: bold;
  background-image: linear-gradient(40deg, #ff79da 30%, #9356dc 75%);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  cursor: default;
  transition: 1.2s;
}

.arrow {
  position: absolute;
  top: 21px;
  left: 15px;
  font-size: 1.5rem;
}

/*# sourceMappingURL=style.css.map */
