.location {
  width: 100%;
  @include center;
  flex-direction: row;
  column-gap: 10px;
  background-color: rgb(234, 234, 234);
  padding: 15px;
  font-size: $medium;
}

form {
  background: $backgroundGrey;
  width: 20%;

  input {
    border: none;
    background-color: rgb(234, 234, 234);

    &::placeholder {
      color: black;
      text-align: center;
    }
    &:focus {
      outline-color: $color-primary;
    }
  }
}
