.process {
  @include center;
  width: 100%;
  padding: $paddingSection;

  &__container {
    @include center;
    @media screen and (min-width: 1024px) {
      flex-direction: row;
      width: 100%;
    }
  }

  &__title {
    @include displayTitle;
  }

  &__box {
    width: 100%;
    background-color: $backgroundGrey;
    display: flex;
    align-items: center;
    padding: 23px;
    margin: 15px 20px;
    border-radius: 20px;
    box-shadow: $shadow;
    position: relative;

    @media screen and (min-width: 1024px) {
      flex-direction: row;
      width: 280px;
    }

    &:hover {
      background-color: lighten($color-primary, 30%);
      cursor: pointer;
    }

    &:hover i {
      color: darken($color-primary, 5%);
    }
  }

  &__number {
    @include center;
    text-align: center;
    color: $buttonColor;
    background-color: $color-primary;
    position: absolute;
    left: -13px;
    padding: 5px;
    width: 25px;
    height: 25px;
    border-radius: 50%;
  }

  &__icon {
    margin: 0 20px;
    color: rgb(126, 126, 126);
  }
}
