.fa-heart {
  font-size: 1.5rem;
  font-weight: 100;
}

.fa-heart:hover {
  font-weight: bold;
  background-image: linear-gradient(
    40deg,
    rgba(255, 121, 218, 1) 30%,
    rgba(147, 86, 220, 1) 75%
  );
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  cursor: default;
  animation: heart 600ms ease-out forwards;
}

@keyframes heart {
  from {
    height: 0px;
  }

  to {
    height: 24px;
  }
}
