//Loader
.loader {
  border: 16px solid $backgroundGrey;
  border-top: 16px solid $color-primary;
  border-bottom: 16px solid $color-secondary;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 3s linear infinite;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader__center {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: $color-tertiary;
  z-index: 10;
  animation: grow 1.2s infinite backwards;
}

.loader__container {
  background-color: #fff;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 5;
  opacity: 0.9;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: loader 3s forwards;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes grow {
  0% {
    width: 30px;
    height: 30px;
  }

  100% {
    width: 45px;
    height: 45px;
  }
}

@keyframes loader {
  0% {
    opacity: 0.9;
    z-index: 5;
  }

  90% {
    opacity: 0.9;
    z-index: 5;
  }

  100% {
    opacity: 0;
    z-index: -100;
  }
}

// Animation apparition des menus
@keyframes menu {
  from {
    transform: translateY(-20px);
    opacity: 0;
  }

  50% {
    transform: translateY(-10px);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.step1 {
  animation: 1.5s menu;
}
.step2 {
  animation: 3s menu;
}
.step3 {
  animation: 4.5s menu;
}

//effet slide menu

.menu__box {
  &:hover {
    cursor: pointer;
  }

  &:hover &--price {
    transform: translateX(0);
    transition: 600ms;
  }
  &:hover &--anim {
    transform: translateX(0);
    opacity: 1;
    transition: 600ms;
    visibility: visible;
  }
  &:hover &--icon {
    transform: rotate(0);
    opacity: 1;
    transition: 600ms;
    visibility: visible;
  }
}
