@mixin center {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

@mixin displayTitle {
  align-self: flex-start;
  padding: 15px;
  @media screen and (min-width: 768px) {
    align-self: center;
  }
}
