// Fonts
$logoFont: "Shrikhand";
$textFont: "Roboto";

// Font Weight
$thin: 100;
$regular: 400;
$bold: bold;

// Colors
$color-primary: #9356dc;
$color-secondary: #ff79da;
$color-tertiary: #99e2d0;
$backgroudGrey: rgb(246, 246, 246);

// Button
$buttonColor: #fff;

//Shadow
$shadow: -3px 9px 30px 3px rgba(171, 169, 169, 0.52);
